* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --background-color: #f0f1f4;
  --padingTopContainer: 50px;
  --padingBottonContainer: 50px;
}

body {
  background-color: var(--color-white);
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header Section */

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;

  padding-top: 40px;
  padding-bottom: 50px;
}

.header-image {
  width: 100%;
  border-radius: 12px;
}

.header-card-image {
  display: grid;
  gap: 1rem;
}

.header-content-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.header-links {
  background-color: #3998b6;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
  padding: 12px 20px;
  text-align: center;
  border-radius: 12px;
}

.header-links:hover {
  background-color: #29768e;
}

.header-description-content {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 1rem;
}

.description-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--background-color);
  border-radius: 12px;
  padding: 20px;
}

.header-p {
  font-size: 20px;
}

.header-tech-icon {
  background-color: var(--background-color);
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  padding: 15px;
}

.card-icon-header {
  display: flex;
  align-content: center;
  justify-content: center;
}

.icon-img {
  width: 50px;
}

/* About Section */

.about-container {
  padding-top: var(--padingTopContainer);
  padding-bottom: var(--padingBottonContainer);
}

.about-wrapper {
  background-color: var(--background-color);
  padding: 20px;
  border: solid rgba(0, 0, 0, 0.199);
  border-width: 1px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about-description {
  font-size: 18px;
}

/* Projects Section */
.project-container {
  padding-top: var(--padingTopContainer);
  padding-bottom: var(--padingBottonContainer);
}

.project-title {
  padding-bottom: 50px;
}

.project-description {
  padding-top: 50px;
  font-size: 18px;
}

.project-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.project-card {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
}

.img-project {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.project-info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 15px;
  padding: 10px;
}

.project-card-title {
  font-size: 20px;
}

.project-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-item-tecnology {
  font-size: 13px;
  list-style: none;
  border: solid black;
  border-width: 1px;
  padding: 4px;
  border-radius: 30px;
}

.button-link {
  background-color: #3998b6;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
  padding: 12px 20px;
  text-align: center;
  border-radius: 12px;
}

/* Skills Section */

.skill-container {
  padding-top: var(--padingTopContainer);
  padding-bottom: var(--padingBottonContainer);
}

.skill-title {
  padding-bottom: 25px;
}

.skill-description {
  font-size: 18px;
}

.skill-icon-wrapper {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.skill-card img {
  width: 80px;
}

/* Contact Section */

.contact-container {
  padding-top: var(--padingTopContainer);
  padding-bottom: var(--padingBottonContainer);
}

.contact-title {
  padding-bottom: 25px;
}

.contact-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-link a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.contact-link img {
  width: 50px;
}

@media (max-width: 980px) {
  .header-p {
    font-size: 18px;
  }

  .header-content-links {
    grid-template-columns: 1fr;
  }

  .description-content {
    gap: 0;
  }

  .title {
    font-size: 25px;
  }

  .header-description-content {
    grid-template-rows: 2fr;
  }

  .project-card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .header-p {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  header {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .header-p {
    margin-bottom: 5px;
  }
  .header-tech-icon {
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
  .icon-img {
    width: 40px;
  }

  .project-card-wrapper {
    grid-template-columns: 1fr;
  }
}
