* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=23282f&c2=333a45&gt=l&gd=dtr
*/
/* background: #23282F;
background: linear-gradient(225deg, #23282F, #333A45); */

:root {
  --color-white: #ffffff;
  --background-color: #f0f1f4;
  --padingTopContainer: 50px;
  --padingBottonContainer: 50px;
  --colorTextBlack: #23272f;

  /* Theme dark */
  --backgroundColorBlack: #333a45;
  --borderColor: #ffffff2c;
  --cardBackgroundDark: #3e444e;
}

/* Switch moderno */

.switch-content {
  padding-top: 20px;
}

.switch-flex {
  display: flex;
  align-items: center;
  justify-content: end;
}

.switch-button {
  width: 50px;
  height: 26px;
  background-color: #ccc;
  border-radius: 20px;
  padding: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.switch-button .switch-circle {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.switch-circle.dark {
  transform: translateX(24px);
}

.dark .switch-button {
  background-color: #555;
}

body {
  background-color: var(--color-white);
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.dark body {
  background-color: var(--backgroundColorBlack);
  color: var(--color-white);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Header Section */

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;

  padding-top: 20px;
  padding-bottom: 50px;
}

.header-image {
  width: 100%;
  border-radius: 12px;
}

.header-card-image {
  display: grid;
  gap: 1rem;
}

.header-content-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.header-links {
  background-color: #3998b6;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
  padding: 12px 20px;
  text-align: center;
  border-radius: 12px;
}

.header-links:hover {
  background-color: #29768e;
}

.header-description-content {
  display: grid;
  grid-template-rows: 3fr 1fr;
  gap: 1rem;
}

.description-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--background-color);
  border-radius: 12px;
  padding: 20px;
}

.dark .description-content {
  background-color: var(--cardBackgroundDark);
  border: solid 1px var(--borderColor);
}

.header-title {
  color: var(--colorTextBlack);
}

.dark .header-title {
  color: var(--color-white);
}

.header-p {
  font-size: 20px;
  color: var(--colorTextBlack);
}

.dark .header-p {
  color: var(--color-white);
}

.header-tech-icon {
  background-color: var(--background-color);
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  padding: 15px;
}

.dark .header-tech-icon {
  background-color: var(--cardBackgroundDark);
  border: solid 1px var(--borderColor);
}

.card-icon-header {
  display: flex;
  align-content: center;
  justify-content: center;
}

.icon-img {
  width: 50px;
}

/* About Section */

.about-container {
  padding-top: var(--padingTopContainer);
  padding-bottom: var(--padingBottonContainer);
}

.about-wrapper {
  background-color: var(--background-color);
  padding: 20px;
  border: solid rgba(0, 0, 0, 0.199);
  border-width: 1px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dark .about-wrapper {
  background-color: var(--cardBackgroundDark);
  border: solid 1px var(--borderColor);
}

.about-description {
  font-size: 18px;
  color: var(--colorTextBlack);
}

.dark .about-description {
  color: var(--color-white);
}

/* Projects Section */

.dark .projects-section {
  background: #23282f;
  background: linear-gradient(225deg, #23282f, #333a45);
}

.project-container {
  padding-top: var(--padingTopContainer);
  padding-bottom: var(--padingBottonContainer);
}

.project-title {
  padding-bottom: 50px;
  color: var(--colorTextBlack);
}

.dark .project-title {
  color: var(--color-white);
}

.project-description {
  padding-top: 50px;
  font-size: 18px;
  color: var(--colorTextBlack);
}

.dark .project-description {
  color: var(--color-white);
}

.project-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.project-card {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
}

.dark .project-card {
  background-color: var(--cardBackgroundDark);
  border: solid 1px var(--borderColor);
}

.img-project {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.project-info-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 15px;
  padding: 10px;
}

.project-card-title {
  font-size: 20px;
  color: var(--colorTextBlack);
}

.dark .project-card-title {
  color: var(--color-white);
}

.project-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-item-tecnology {
  font-size: 13px;
  list-style: none;
  border: solid var(--colorTextBlack);
  color: var(--colorTextBlack);
  border-width: 1px;
  padding: 4px;
  border-radius: 30px;
}

.dark .project-item-tecnology {
  color: var(--color-white);
  border: solid 1px var(--borderColor);
}

.button-link {
  background-color: #3998b6;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
  padding: 12px 20px;
  text-align: center;
  border-radius: 12px;
}

/* Skills Section */

.skill-container {
  padding-top: var(--padingTopContainer);
  padding-bottom: var(--padingBottonContainer);
}

.skill-title {
  padding-bottom: 25px;
  color: var(--colorTextBlack);
}

.dark .skill-title {
  color: var(--color-white);
}

.skill-description {
  font-size: 18px;
  color: var(--colorTextBlack);
}

.dark .skill-description {
  color: var(--color-white);
}

.skill-icon-wrapper {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--colorTextBlack);
}

.dark .skill-card {
  color: var(--color-white);
}

.skill-card img {
  width: 80px;
}

/* Contact Section */

.contact-container {
  padding-top: var(--padingTopContainer);
  padding-bottom: var(--padingBottonContainer);
}

.contact-title {
  padding-bottom: 25px;
}

.contact-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.contact-link a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--colorTextBlack);
}

.dark .contact-link a {
  color: var(--color-white);
}

.contact-link img {
  width: 50px;
}

/* footer */
.footer-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ecedf1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorTextBlack);
}

.dark .footer-container {
  background-color: var(--colorTextBlack);
  color: var(--color-white);
  border-top: solid 1px var(--borderColor);
}

@media (max-width: 980px) {
  .header-p {
    font-size: 18px;
  }

  .header-content-links {
    grid-template-columns: 1fr;
  }

  .description-content {
    gap: 0;
  }

  .title {
    font-size: 25px;
  }

  .header-description-content {
    grid-template-rows: 2fr;
  }

  .project-card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .header-p {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  header {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .header-p {
    margin-bottom: 5px;
  }
  .header-tech-icon {
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
  .icon-img {
    width: 40px;
  }

  .project-card-wrapper {
    grid-template-columns: 1fr;
  }

  .skill-icon-wrapper {
    justify-content: center;
  }
}
